input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  height: 0;
  width: 100%;
  background-color: transparent;
  position: relative;
}
@media only screen and (max-width: 410px) {
  input[type=range] {
    position: unset;
  }
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: black;
  border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #30302f, 0px 0px 1px #30302f;
  border: 1px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: grey;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #30302f, 0px 0px 1px #30302f;
  border: 1px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: grey;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: inherit;
  letter-spacing: inherit;
}

canvas {
  width: 100vw;
  height: 100vh;
}

html {
  height: 100%;
  font-family: "Anton", sans-serif;
  letter-spacing: 0.04em !important;
}

body {
  overflow: hidden;
  height: 100%;
  font-family: "Anton", sans-serif;
  cursor: crosshair;
}
body .hidden {
  display: none !important;
}

.seedButton {
  position: absolute;
  cursor: pointer;
  display: none;
  transition: transform 0.3s;
}
.seedButton.active {
  display: block;
  animation: jumpOut 0.3s ease-out;
}
.seedButton__image {
  position: relative;
  width: 80px;
  height: 90px;
  background-image: url("/Seed.533b09c9.svg");
  background-size: contain;
  background-repeat: no-repeat;
  animation: float 0.6s infinite alternate ease-in-out;
  animation-delay: 0.3s;
}
.seedButton:hover {
  transform: translateY(-10px);
}
.seedButton:hover .seedButton__image {
  animation-play-state: paused;
}

@keyframes float {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
@keyframes jumpOut {
  0% {
    transform: translateY(50px) scale(0.5);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}
.screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: black;
}

#gameOverScreen {
  z-index: 1;
  display: grid;
  place-items: center;
  place-content: center;
  color: white;
}
#gameOverScreen .score-container #score {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  text-align: center;
  line-height: 45vh;
  font-size: 5vh;
}
#gameOverScreen .image {
  height: 45vh;
}
#gameOverScreen .score-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5vh;
  margin-top: -13vh;
  color: #00a400;
}
#gameOverScreen .score-stats .key {
  color: white;
  text-align: left;
  font-size: 2vh;
}
#gameOverScreen .score-stats .value {
  text-align: right;
  padding-left: 1.5vw;
}
#gameOverScreen .score-stats .value[data-diff=EASY] {
  color: green;
}
#gameOverScreen .score-stats .value[data-diff=NORMAL] {
  color: orange;
}
#gameOverScreen .score-stats .value[data-diff=HARD] {
  color: red;
}
#gameOverScreen .score-stats .value[data-diff] {
  text-transform: capitalize;
}
#gameOverScreen .button {
  margin-top: 5vh;
}
#gameOverScreen .promo {
  position: absolute;
  bottom: 2vh;
  right: 2vw;
}
#gameOverScreen .promo a {
  color: #00a400;
}

.level-display {
  position: absolute;
  padding: 10px 15px;
  background: transparent;
  border: 2px solid white;
  display: grid;
  place-items: center;
  place-content: center;
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  pointer-events: none;
}

#loadingScreen {
  z-index: 1;
  display: grid;
  place-items: center;
  place-content: center;
  color: white;
}
#loadingScreen svg {
  width: 7vw;
  fill: none;
  stroke: #27A102;
  stroke-dasharray: 400;
  animation: dash 3s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 800;
  }
}
#titleScreen {
  z-index: 2;
  display: grid;
  place-items: center;
  place-content: center;
  color: white;
}
#titleScreen .background {
  position: absolute;
  background-image: url("/title-background.86b0a878.png");
  background-size: 100% 100%;
  filter: brightness(0.2) blur(6px);
  background-repeat: no-repeat;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}
#titleScreen img {
  width: 600px;
}
#titleScreen .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7vh;
}
#titleScreen .menu .button {
  margin-top: 20px;
}
#titleScreen .menu .settings {
  padding: 15px 50px;
  font-size: 20px;
}

.game .button {
  position: absolute;
  padding: 10px 15px;
  color: white;
  left: 20px;
  bottom: 20px;
  font-size: 17px;
  cursor: pointer;
}
.button {
  border: none;
  color: white;
  display: inline-block;
  padding: 18px 60px;
  font-size: 23px;
  cursor: pointer;
  background-color: transparent;
  background-image: url("/button.66f80176.svg");
  background-size: 100% 100%;
}
.button:hover {
  filter: brightness(0.9);
}

#tutorialScreen {
  z-index: 1;
  display: grid;
  place-items: center;
  place-content: center;
}
#tutorialScreen .background {
  position: absolute;
  background-image: url("/title-background.86b0a878.png");
  background-size: 100% 100%;
  filter: brightness(0.2) blur(6px);
  background-repeat: no-repeat;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}
#tutorialScreen .button {
  margin-top: 4vh;
}

.settings-modal {
  position: absolute;
  z-index: 10;
  max-width: 700px;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #303030;
  border: 10px solid black;
  border-radius: 5px;
  padding: 40px;
  color: white;
  font-size: 30px;
}
.settings-modal input {
  margin-bottom: 40px;
}
.settings-modal .close-button {
  position: absolute;
  filter: brightness(0.7);
  top: 5px;
  right: 5px;
  padding: 0px;
  width: 40px;
  height: 40px;
}
.settings-modal .difficulty {
  border: 6px solid black;
  display: inline-flex;
  justify-content: center;
  width: auto;
}
.settings-modal .difficulty-label {
  display: block;
  margin-bottom: 15px;
}
.settings-modal .radio {
  position: absolute;
  visibility: hidden;
}
.settings-modal .radio:checked + .button {
  filter: brightness(0.7);
}
.settings-modal .radio:checked + .button[for=easy] {
  color: green;
}
.settings-modal .radio:checked + .button[for=normal] {
  color: orange;
}
.settings-modal .radio:checked + .button[for=hard] {
  color: red;
}

.score-counter {
  width: 150px;
  position: absolute;
  top: 25px;
  right: 25px;
}
.score-counter .cls-1 {
  fill: #fff;
  stroke-width: 2px;
  stroke: #009245;
  stroke-miterlimit: 10;
}
.score-counter .cls-2 {
  fill: #39b54a;
}
.score-counter .score {
  position: absolute;
  top: 28px;
  font-size: 25px;
  right: 77px;
}

.streak-container {
  position: absolute;
  right: 2vw;
  bottom: 0vw;
  background-image: url("/multiplier.988f6531.svg");
  background-size: 100%;
  width: 14vw;
  height: 14vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.streak-container .streak {
  color: white;
  font-size: 40px;
}
.streak-container .streak.streak-animation {
  animation: streak_kf;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

@keyframes streak_kf {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.tutorial {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tutorial__box {
  border: 2px solid white;
  margin: 0 20px;
  background-size: 100% 100%;
  border-radius: 0.5vw;
  overflow: hidden;
  padding: 0vw 0vw 0.2vw 0vw;
}
.tutorial__box img {
  max-width: 18vw;
  max-height: 45vh;
  width: auto;
  height: auto;
  display: block;
}
.tutorial__heading {
  font-size: 50px;
  color: white;
}

.controls {
  margin-bottom: 3vh;
  display: flex;
  justify-content: center;
}
.controls-heading {
  color: white;
  display: block;
  margin-bottom: 2vh;
  font-size: 2vw;
}
.controls img {
  max-width: 30vw;
  max-height: 20vh;
}

/*# sourceMappingURL=/main.1e43358e.css.map */