@import 'inputs.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: inherit;
    letter-spacing: inherit;
}
canvas {
    width: 100vw;
    height: 100vh;
}
html {
    height: 100%;
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.04em !important;
}
body {
    overflow: hidden;
    height: 100%;
    font-family: 'Anton', sans-serif;

    .hidden {
        display: none !important;
    }
}
.seedButton {
    position: absolute;
    cursor: pointer;
    display: none;
    transition: transform 0.3s;

    &.active {
        display: block;
        animation: jumpOut 0.3s ease-out;
    }    

    &__image {
        position: relative;
        width: 80px;
        height: 90px;
        background-image: url("/static/images/Seed.svg");
        background-size: contain;
        background-repeat: no-repeat;
        animation: float 0.6s infinite alternate ease-in-out;
        animation-delay: 0.3s;   
    }

    &:hover {
        transform: translateY(-10px);
    }
    &:hover .seedButton__image {
        animation-play-state: paused;
    }
}


@keyframes float {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-10px);
    }
}
@keyframes jumpOut {
    0% {
        transform: translateY(50px) scale(0.5);
    }
    100% {
        transform: translateY(0px) scale(1);
    }
}

.screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: black;
}

#gameOverScreen {
    z-index: 1;
    display: grid;
    place-items: center;
    place-content: center;
    color: white;

    

    .score-container {
        .final-score {
            height: 45vh;
        }
        #score {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            color: black;
            text-align: center;
            line-height: 45vh;
            font-size: 5vh;
        }
        
    }
    .score-stats {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 2.5vh;
        margin-top: -20vh;
        color: #00a400;
        small {
            color: white;
        }
    }
    .button {
        margin-top: 5vh;
    }
}


.level-display {
    position: absolute;
    padding: 10px 15px;
    background: transparent;
    border: 2px solid white;
    display: grid;
    place-items: center;
    place-content: center;
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    pointer-events: none;
}

#loadingScreen {
    z-index: 1;
    display: grid;
    place-items: center;
    place-content: center;
    color: white;

    svg {
        width: 7vw;
        fill:none;
        stroke:#27A102;
        stroke-dasharray: 400;
        animation: dash 3s linear infinite;
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 800;
    }
}

#titleScreen {
    z-index: 2;
    display: grid;
    place-items: center;
    place-content: center;
    color: white;

    .background {
        position: absolute;
        background-image: url('/static/images/title-background.png');
        background-size: 100% 100%;
        filter: brightness(0.2) blur(6px);
        background-repeat: no-repeat;
        z-index: -1;
        width: 100vw;
        height: 100vh;
    }

    img {
        width: 600px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 7vh;
        .button {
            margin-top: 20px;
        }
        .settings {
            padding: 15px 50px;
            font-size: 20px;
        }
    }
}

.game {
    .button {
        position: absolute;
        padding: 10px 15px;
        color: white;
        left: 20px;
        bottom: 20px;
        font-size: 17px;
        cursor: pointer;
    
        &.mute {
            //border: 2px solid red;
        }
    }
}

.button {
    border: none;
    color: white;
    display: inline-block;
    padding: 18px 60px;
    font-size: 23px;
    cursor: pointer;
    background-color: transparent;
    background-image: url('/static/images/button.svg');
    background-size: 100% 100%;

    &:hover {
        filter: brightness(0.9);
    }
}

#tutorialScreen {
    z-index: 1;
    display: grid;
    place-items: center;
    place-content: center;

    .background{
        position: absolute;
        background-image: url('/static/images/title-background.png');
        background-size: 100% 100%;
        filter: brightness(0.2) blur(6px);
        background-repeat: no-repeat;
        z-index: -1;
        width: 100vw;
        height: 100vh;
    }

    .button {
        margin-top: 4vh;
    }
}

.settings-modal {
    position: absolute;
    z-index: 10;
    max-width: 700px;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #303030;
    border: 10px solid black;
    border-radius: 5px;
    padding: 40px;
    color: white;
    font-size: 30px;

    input {
        margin-bottom: 40px;
    }

    .close-button {
        position: absolute;
        filter: brightness(0.7);
        top: 5px;
        right: 5px;
        padding: 0px;
        width: 40px;
        height: 40px;
    }

    .difficulty {
        border: 6px solid black;
        display: inline-flex;
        justify-content: center;
        width: auto;
    }

    .difficulty-label {
        display: block;
        margin-bottom: 15px;
    }
    .radio {
        position: absolute;
        visibility: hidden;
    }
    .radio:checked + .button {
        filter: brightness(0.7);

        &[for="easy"] {
            color: green;
        }

        &[for="normal"] {
            color: orange;
        }

        &[for="hard"] {
            color: red;
        }
    }
}

.score-counter {
    width: 150px;
    position: absolute;
    top: 25px;
    right: 25px;

    .cls-1 {
        fill:#fff;
        stroke-width:2px;
        stroke:#009245;
        stroke-miterlimit:10;
    }

    .cls-2 {
        fill:#39b54a;
    }

    .score {
        position: absolute;
        top: 28px;
        font-size: 25px;
        right: 77px;
    }
}

.streak-container {
    position: absolute;
    right: 2vw;
    bottom: 0vw;
    background-image: url('/static/images/multiplier.svg');
    background-size: 100%;
    width: 14vw;
    height: 14vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .streak {
        color: white;
        font-size: 40px;

        &.streak-animation {
            animation: streak_kf;
            animation-duration: 0.5s;
            animation-iteration-count: 1;
        }
    }
}




@keyframes streak_kf {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.tutorial {
    display: flex;
    justify-content: center;
    align-items: center;

    &__box {
        border: 2px solid white;
        
        margin: 0 20px;
        background-size: 100% 100%;
        border-radius: 0.5vw;
        overflow: hidden;
        padding: 0vw 0vw 0.2vw 0vw;

        img {
            max-width: 18vw;
            max-height: 45vh;
            width: auto;
            height: auto;
            display: block;
        }
    }

    &__heading {
        font-size: 50px;
        color: white;
    }
}

.controls {
    margin-bottom: 3vh;
    display: flex;
    justify-content: center;

    &-heading {
        color: white;
        display: block;
        margin-bottom: 2vh;
        font-size: 2vw;
    }

    img {
        max-width: 30vw;
        max-height: 20vh;
    }
}
