* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: inherit;
    letter-spacing: inherit;
}
canvas {
    width: 100vw;
    height: 100vh;
}
html {
    height: 100%;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
}
body {
    overflow: hidden;
    height: 100%;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
}
.seedButton {
    position: absolute;
    cursor: pointer;
    display: none;
    transition: transform 0.3s;
}
.active {
    display: block;
    animation: jumpOut 0.3s ease-out;
}
.seedButton__image {
    position: relative;
    width: 80px;
    height: 90px;
    background-image: url("https://adamgiebl.github.io/PlantsAndSpiders/images/Seed.svg");
    background-size: contain;
    background-repeat: no-repeat;
    animation: float 0.6s infinite alternate ease-in-out;
    animation-delay: 0.3s;
    
}
.seedButton:hover {
    transform: translateY(-10px);
}
.seedButton:hover .seedButton__image {
    animation-play-state: paused;
}
@keyframes float {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-10px);
    }
}
@keyframes jumpOut {
    0% {
        transform: translateY(50px) scale(0.5);
    }
    100% {
        transform: translateY(0px) scale(1);
    }
}
#overlay {
}

.screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: black;
}

#gameOverScreen {
    z-index: 1;
    display: grid;
    place-items: center;
    place-content: center;
    color: white
}
body .hidden {
    display: none !important;
}

.mute-button {
    position: absolute;
    padding: 10px 15px;
    background: transparent;
    border: 2px solid white;
    color: white;
    left: 20px;
    bottom: 20px;
    cursor: pointer;
}
.mute-button.mute {
    border: 2px solid red;
}

.level-display {
    position: absolute;
    padding: 10px 15px;
    background: transparent;
    border: 2px solid white;
    display: grid;
    place-items: center;
    place-content: center;
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    pointer-events: none;
}

#loadingScreen {
    z-index: 2;
    display: grid;
    place-items: center;
    place-content: center;
    color: white
}
#loadingScreen svg {
    width: 7vw;
    fill:none;
    stroke:#27A102;
    stroke-dasharray: 400;
    animation: dash 3s linear infinite;
}
@keyframes dash {
to {
    stroke-dashoffset: 800;
}
}

#titleScreen {
    z-index: 2;
    display: grid;
    place-items: center;
    place-content: center;
    color: white;
}

#titleScreen .background {
    position: absolute;
    background-image: url('https://adamgiebl.github.io/PlantsAndSpiders/images/title-background.png');
    background-size: 100% 100%;
    filter: brightness(0.2) blur(6px);
    background-repeat: no-repeat;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

#titleScreen img {
    width: 600px;
}

#titleScreen .continue-button {
    border: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
    padding: 10px 40px;
    margin-top: 150px;
    font-size: 25px;
    cursor: pointer;
    background: transparent;
}

#tutorialScreen {
    z-index: 1;
    display: grid;
    place-items: center;
    place-content: center;
}

#tutorialScreen .background{
    position: absolute;
    background-image: url('https://adamgiebl.github.io/PlantsAndSpiders/images/title-background.png');
    background-size: 100% 100%;
    filter: brightness(0.2) blur(6px);
    background-repeat: no-repeat;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

.score-counter {
    width: 150px;
    position: absolute;
    top: 25px;
    right: 25px;
}

.score-counter .cls-1 {
    fill:#fff;
    stroke-width:2px;
    stroke:#009245;
    stroke-miterlimit:10;
}

.score-counter .cls-2 {
    fill:#39b54a;
}

.score-counter .score {
    position: absolute;
    top: 28px;
    font-size: 25px;
    right: 77px;
}

.tutorial {
    display: flex;
    justify-content: center;
}

.tutorial__box {
    border: 2px solid white;
    width: 350px;
    height: 500px;
    margin: 20px;
    background-size: cover;
    mix-blend-mode: exclusion;
}

.tutorial__box--1 {
    background-image: url('/images/tutorial/tut1.png');
}

.tutorial__box--2 {
    background-image: url('/images/tutorial/tut2.png');
}

.tutorial__box--3 {
    background-image: url('/images/tutorial/tut3.png');
}

.tutorial__heading {
    font-size: 50px;
    color: white;
}