* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
canvas {
    width: 100vw;
    height: 100vh;
}
html {
    height: 100%;
}
body {
    overflow: hidden;
    height: 100%;
}
.seedButton {
    position: absolute;
    cursor: pointer;
    display: none;
    transition: transform 0.3s;
}
.active {
    display: block;
    animation: jumpOut 0.3s ease-out;
    
}
.seedButton__image {
    position: relative;
    width: 80px;
    height: 90px;
    background-image: url("https://adamgiebl.github.io/PlantsAndSpiders/images/Seed.svg");
    background-size: contain;
    background-repeat: no-repeat;
    animation: float 0.6s infinite alternate ease-in-out;
    animation-delay: 0.3s;
    
}
.seedButton:hover {
    transform: translateY(-10px);
}
.seedButton:hover .seedButton__image {
    animation-play-state: paused;
}
@keyframes float {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-10px);
    }
}
@keyframes jumpOut {
    0% {
        transform: translateY(50px) scale(0.5);
    }
    100% {
        transform: translateY(0px) scale(1);
    }
}
#overlay {
    position: absolute;
}
#gameOverScreen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 1;
    display: grid;
    place-items: center;
    place-content: center;
    color: white
}
body .hidden {
    display: none !important;
}

.mute-button {
    position: absolute;
    padding: 10px 15px;
    background: transparent;
    border: 2px solid white;
    color: white;
    left: 20px;
    top: 20px;
    cursor: pointer;
}
.mute-button.mute {
    border: 2px solid red;
}

.level-display {
    position: absolute;
    padding: 10px 15px;
    background: transparent;
    border: 2px solid white;
    color: white;
    left: 100px;
    top: 20px;
}

#loadingScreen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 2;
    display: grid;
    place-items: center;
    place-content: center;
    color: white
}
#loadingScreen svg {
    width: 7vw;
    fill:none;
    stroke:#27A102;
    stroke-dasharray: 400;
    animation: dash 3s linear infinite;
}
@keyframes dash {
to {
    stroke-dashoffset: 800;
}
}

#titleScreen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 2;
    display: grid;
    place-items: center;
    place-content: center;
    color: white;
}

#titleScreen .background{
    position: absolute;
    background-image: url('https://adamgiebl.github.io/PlantsAndSpiders/images/title-background.png');
    background-size: 100% 100%;
    filter: brightness(0.2) blur(6px);
    background-repeat: no-repeat;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

#titleScreen img {
    width: 600px;
}

#titleScreen .continue-button {
    border: none;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    color: white;
    padding: 10px 40px;
    margin-top: 150px;
    font-size: 20px;
    background: transparent;
}